/* common */
body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: "Nunito", serif;
    height: 3000px;
}
img {
    display: block;
    width: 85px;
    height: 75px;
}
a {
    text-decoration: none;
}
.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}


/* header */
header {
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    /* position: relative; */
    position: fixed;
    width: 100%
}
header > .inner {
    height: 120px;
}
header .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .sub-menu {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
}
header .sub-menu ul.menu {
    display: flex;
}
header .sub-menu ul.menu li {
    position: relative;
}
header .sub-menu ul.menu li::before {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #aaa;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
    display: none;
}
header .sub-menu ul.menu li a {
    font-size: 12px;
    padding: 11px 16px;
    display: block;
    color: #666;
}
header .sub-menu ul.menu li a:hover {
    font-weight: bold;
    color: #333;
}
header .sub-menu .search {
    height: 36px;
    position: relative;
}
header .sub-menu .search input {
    width: 36px;
    height: 36px;
    padding: 4px 10px;
    border: 1px solid #aaa;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #666;
    font-size: 12px;
    transition: width .4s;
}
header .sub-menu .search input:focus {
    width: 190px;
    border-color:#669900;
}
header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
}
header .sub-menu .search.focused .material-icons {
   opacity: 0;
}


header .main-menu {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
header .main-menu .item {
    margin-top: 60px;
}
header .main-menu .item .item__name {
    padding: 10px 20px 34px 20px;
}
header .main-menu .item:hover .item__name {
    background-color: #2c2a29;
    color: #669900;
    border-radius: 4px 4px 0 0;
}
header .main-menu .item .item__contents {
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
}
header .main-menu .item:hover .item__contents {
    display: block;
}
header .main-menu .item .item__contents .contents__menu {
    background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
    display: flex;
    padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul >li {
    width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul >li h4 {
    padding: 3px 0px 10px 0;
    font-size: 14px;
    color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul >li ul li {
    padding: 5px 0;
    font-size: 12px;
    cursor: pointer;
    color: #aaa;
}
header .main-menu .item .item__contents .contents__menu > ul >li ul li:hover {
    color: #669900;
}  

header .main-menu .item .item__contents .contents__texture {
    padding: 26px 0;
    font-size: 12px;
    background-image: url("../img/texture.jpg")
}
header .main-menu .item .item__contents .contents__texture h4 {
    color: #aaa;
    font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
    color: #669900;
    margin: 4px 0 14px;
}
header .badges {
    position: absolute;
    top: 132px;
    right: 10px;
}
header .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px, 4px, 10px rgba(0,0,0,.2);
    cursor: pointer;
}
